#home{
  align-items: center;
}

#home__section {
    display: flex;
    padding: 30px;
    /* align-items: center; */

  }

.datePicker {
  justify-items: center;
}

#dateSelect__home{
  visibility: hidden;
}


   