.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #060A26;
    z-index: 100;
    width: 100%;
  }
  
  .header__icon {
    display: flex;
    position: absolute;
 
    object-fit: scale-down;
    margin-top: 0.3em;
    height: 60px;
    margin-left: 65px;
    margin-bottom: 1em;
    
  }
  
  .header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    /* border: 1px solid lightgray; */
    border-radius: 999px;
  }
  
  .header__center > input {
    border: none;
    padding: 10px;
    outline-width: 0;
    /* width: 250px; */
  }
  
  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 5%;
  }


/* body {
    overflow: scroll;
} */






.home__button{
    
    margin-top: 1.7em;
    margin-left: -25em;
    
    /* background: none;
    backface-visibility: hidden; */

    background-color: Transparent;
    /* background-repeat:no-repeat; */
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;


    /* align-self: center;
    justify-self: center;
    position: relative; */
    
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: medium;
    /* line-height: 96px;
    letter-spacing: -0.01em; */

    color: #FFFFFF;
    margin-bottom: 1.5em;
    
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.Contact__button{
        position: absolute;
        margin-top: 1.7em;
        margin-left: -20em;
        /* background: none;
        backface-visibility: hidden; */
    
        background-color: Transparent;
        /* background-repeat:no-repeat; */
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
    
    
        /* align-self: center;
        justify-self: center;
        position: relative; */
        
        
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: medium;
        /* line-height: 96px;
        letter-spacing: -0.01em; */
    
        color: #FFFFFF;
        margin-bottom: 1.5em;
        
        /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    
}
.About__button{
    position: absolute;
    margin-top: 1.7em;
    margin-left: -13em;
    /* background: none;
    backface-visibility: hidden; */

    background-color: Transparent;
    /* background-repeat:no-repeat; */
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;


    /* align-self: center;
    justify-self: center;
    position: relative; */
    
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: medium;
    /* line-height: 96px;
    letter-spacing: -0.01em; */

    color: #FFFFFF;
    margin-bottom: 1.5em;
    
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

}