#booking {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: rgb(235, 233, 233);
  }
  
#booking__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* border: 1px solid lightgray; */
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 55vw;
    background-color:  #060A26;

    /* background: #FBFBFB; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  #dateSelect__bookingPage{
    background-color: aliceblue;
    margin-top: -10% ;
    margin-bottom: 20%;
  }

  #select__service > label {
    color: white;
    margin-bottom: 10%;
   
  }


  #select__worker > label{
      color: white;
      margin-bottom: 20%;
  }

#booking__message{

  color: white;
  
  
}

#submit{
  margin-bottom: 5%;
}

#service__title{
   color: #060A26;
   margin-bottom: 3%;
}